//    Font Weight guide:
//    ------------------
//    100 - thin
//    200
//    300 - light
//    400 - regular / normal
//    500 - medium
//    600 - semi-bold
//    700 - bold
//    800
//    900 - black / heavy

// Font Face mixin
@mixin fontFace($fontName, $fileName, $fontWeight, $fontStyle) {
	@font-face {
		font-family: "#{$fontName}";
		src: url("#{$fileName}.eot");
		src: url("#{$fileName}.eot?#iefix") format("embedded-opentype"),
				 url("#{$fileName}.woff2") format("woff2"),
				 url("#{$fileName}.woff") format("woff"),
				 url("#{$fileName}.ttf") format("truetype");
		font-weight: #{$fontWeight};
		font-style: #{$fontStyle};
		font-display: swap;
	}
}

// Normal
@include fontFace("Ananda", "andada-regular-webfont", "400", "normal");
// Italic
@include fontFace("Ananda", "andada-italic-webfont", "400", "italic");
// Bold
@include fontFace("Ananda", "andada-bold-webfont", "700", "normal");
// Bold Italic
@include fontFace("Ananda", "andada-bolditalic-webfont", "700", "italic");
